<div class="add-towing-toolbar" no-bounce has-bouncing="false" forceOverscroll="false">
  <h6 class="add-towing">Historial de Cotización</h6>
</div>

<ion-button class="arrow-btn" (click)="goBack()">
  <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-button>

<ion-content>
  <ion-card class="edit">
    <ion-grid style="border-bottom: 1px solid rgb(82, 82, 82);">
      <ion-row>
        <ion-col size="2">
          <p style="color: rgb(128, 128, 128); font-weight: 700; margin-left: 2px;">Carro:</p>
        </ion-col>
        <ion-col size="8">
          <p style="text-align: left;">Kia Soul</p>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="openPage()" class="delete-btn">
            <ion-icon class="pencil-icon" ios="ios-create" md="md-create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <p style="color: rgb(128, 128, 128); font-weight: 700; margin-left: 2px;">Cotización:</p>
        </ion-col>
        <ion-col size="6">
          <p style="text-align: left;">$100.00</p>
        </ion-col>
        <ion-col size="2">
          <ion-button class="delete-btn">
            <ion-icon class="delete-icon" ios="ios-close" md="md-close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="edit">
      <ion-grid style="border-bottom: 1px solid rgb(82, 82, 82);">
        <ion-row>
          <ion-col size="2">
            <p style="color: rgb(128, 128, 128); font-weight: 700; margin-left: 2px;">Carro:</p>
          </ion-col>
          <ion-col size="8">
            <p style="text-align: left;">Kia Soul</p>
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="openPage()" class="delete-btn">
              <ion-icon class="pencil-icon" ios="ios-create" md="md-create"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <p style="color: rgb(128, 128, 128); font-weight: 700; margin-left: 2px;">Cotización:</p>
          </ion-col>
          <ion-col size="6">
            <p style="text-align: left;">$100.00</p>
          </ion-col>
          <ion-col size="2">
            <ion-button class="delete-btn">
              <ion-icon class="delete-icon" ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
</ion-content>
