<div class="nav-bar">
        <ion-button (click)="goBack()" class="circle-btn" size="small">
          <ion-icon class="menu-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
</div>

<ion-content>
  <h5 class="history-title">Historial</h5>
  <ion-card class="history-card">

    <!-- first cutomer start here -->
    <ion-grid class="customer-pay-info">
      <ion-row ion-align-items-center>
        <ion-col size="2">
          <ion-avatar class="profile-pic">
            <img src="assets/girl.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h6 class="profile-name">Elva Barnett</h6>
          <p class="licence-number">#740136</p>
        </ion-col>
        <ion-col size="3">
          <p class="history-total">$25.00</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- first customer ends here -->
    <!-- second customer start here -->
    <ion-grid class="customer-pay-info">
      <ion-row ion-align-items-center>
        <ion-col size="2">
          <ion-avatar class="profile-pic">
            <img src="assets/girl.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h6 class="profile-name">Elva Barnett</h6>
          <p class="licence-number">#740136</p>
        </ion-col>
        <ion-col size="3">
          <p class="history-total">$25.00</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- second customer ends here -->
    <!-- third customer start here -->
    <ion-grid class="customer-pay-info">
      <ion-row ion-align-items-center>
        <ion-col size="2">
          <ion-avatar class="profile-pic">
            <img src="assets/girl.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h6 class="profile-name">Elva Barnett</h6>
          <p class="licence-number">#740136</p>
        </ion-col>
        <ion-col size="3">
          <p class="history-total">$25.00</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- third customer ends here -->
    <!-- fourth customer start here -->
    <ion-grid class="customer-pay-info">
      <ion-row ion-align-items-center>
        <ion-col size="2">
          <ion-avatar class="profile-pic">
            <img src="assets/girl.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h6 class="profile-name">Elva Barnett</h6>
          <p class="licence-number">#740136</p>
        </ion-col>
        <ion-col size="3">
          <p class="history-total">$25.00</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- fourth customer ends here -->
    <!-- fifth customer start here -->
    <ion-grid class="customer-pay-info">
      <ion-row ion-align-items-center>
        <ion-col size="2">
          <ion-avatar class="profile-pic">
            <img src="assets/girl.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h6 class="profile-name">Elva Barnett</h6>
          <p class="licence-number">#740136</p>
        </ion-col>
        <ion-col size="3">
          <p class="history-total">$25.00</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- fifth customer ends here -->
    <!-- six customer start here -->
    <ion-grid class="customer-pay-info">
      <ion-row ion-align-items-center>
        <ion-col size="2">
          <ion-avatar class="profile-pic">
            <img src="assets/girl.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <h6 class="profile-name">Elva Barnett</h6>
          <p class="licence-number">#740136</p>
        </ion-col>
        <ion-col size="3">
          <p class="history-total">$25.00</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- six customer ends here -->
  </ion-card>
</ion-content>