<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-slide class="full-slide">
    <ion-slides pager="true">
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/introuno.svg"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Acepta el trabajo</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            Podrás aceptar solicitudes de los servicios que ofreces.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/introdos.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Recibe trabajo de inmediato</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            Recibirás solicitudes de personas interesadas en tus servicios.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/introtres.svg"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Gana dinero</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            Mientras más trabajos aceptes, más ganas brindando tus servicios.
          </ion-card-content>
          <ion-button (click)="openPage()" class="start-btn">COMENZAR</ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-slide>
</ion-content>