.card {
  margin: 0;
  padding: 0;
}

.whole-btn {
  --background: transparent;
  --background-activated: transparent;
}

.left-text {
  text-align: left;
  color: black;
}

.right-text {
  text-align: right;
  color: black;
}