<ion-content padding>

  <!-- HISTORY CARD -->
  <ion-card class="card">
    <ion-button expand="full" class="whole-btn">
      <ion-grid>
        <ion-row>

          <!-- FIRST COLUMNS START HERE -->
          <ion-col size="8">
            <p class="left-text">carro</p>
            <p class="left-text">fecha</p>
          </ion-col>
          <!-- FIRST COLUMNS ENDS HERE -->

          <!-- SECOND COLUMNS START HERE -->
          <ion-col size="4">
            <p class="right-text">precio</p>
            <p class="right-text">30</p>
          </ion-col>
          <!-- SECOND COLUMNS ENDS HERE -->
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>
  <!-- HISTORY CARD ENDS HERE -->
</ion-content>