<ion-content no-bounce has-bouncing="false" forceOverscroll="false" class="full-page"
  style="background-color: rgb(191, 191, 191);">
  <div class="orange-bg">
    <ion-button class="arrow-btn" (click)="goBack()">
      <ion-icon class="arrow" ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-img class="logo" src="/assets/logo.svg" style="float:left"></ion-img>
    <div class="verify-phone">
      <span>Ingrese contraseña</span>
    </div>
  </div>

  <ion-card class="register-card">
    <ion-card-content>
      <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" class="email"></ion-input>

      <ion-input [(ngModel)]="verifiedPassword" type="password" placeholder="Confirmar contraseña" class="password"></ion-input>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button class="start-btn" expand="full" (click)="confirmPass()">Listo</ion-button>