<ion-toolbar class="services-toolbar" no-bounce has-bouncing="false" forceOverscroll="false">
  <h6 class="services-title">Servicios</h6>
</ion-toolbar>

<ion-button class="arrow-btn" (click)="goBack()">
  <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-button>

<ion-content>
  <p class="towing-type-title">Selecciona tipo de grúa:</p>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Grúa hidráulica
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Grúa de plataforma
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Asistencia en carretera
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="towing-type-title">Servicios:</p>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Gasolina
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Cerrajería
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Carga de batería
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Cambio de goma
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Servicio de grúa
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col class="towing" size="10">
        Servicio especial
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-button class="start-btn" expand="full" (click)="openPage()">GUARDAR</ion-button>